
  .active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
  }
  
  body { 
    background: url(images/bgImage.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   background-position:  left;
    
    
  }



  

  .posn{

    margin-left: 15%;
    margin-top: 20%;
    font-family: 'Share Tech Mono', monospace;
    color: white;
    

  }

  .posn2{
    margin-left: 14%;
    margin-top: 7%;

  }